
@media (max-width: 1920px)and(min-width:1025px){
    .component4{
        height: 783px;}
    .content2{
        width: 61vw;
        height: 508px;
        align-items: center;
    }
    .content2body{
        height: 310px;
    }
    
    
    
    
    
    
    
    
}