@media (max-width: 767px){
    .component4{
        height: 1107.82px;
    }
    .content2{
        width: 61vw;
        height: 1045px;
        align-items: center;
    }
    .content2body{
        flex-direction: column;
        height: 935px;
        align-items: center;
    }
    .contentHeader11{
        font-size: 27px;
    }
    .content2item img {
        width: 134px;
        
    }
    .content2item{
        width: 270px;
    }
    .hexagontxt {
        height: 110px;
    }
    .content2itembody{
        font-size: 13px;
        line-height: 22px;
        height: 75px;
    }
}