@media (max-width: 1024px) and (min-width:768px){
    .component4{
        height: 1287px;
    }
    .content2{
        width: 61vw;
        height: 1150px;
        align-items: center;
    }
    .content2body{
        flex-direction: column;
        height: 1030px;
        align-items: center;
    }
    .contentHeader11{
        font-size: 29px;
    }
    .content2itembody {
        line-height: 22px;
    }
}
