.contentHeader{
    font-size: 31px;
    font-family: 'Raleway';
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5px;
    span{
        color: $green;
    }
    i{
        margin: 0px 10px;
    }
    text-align: center;
}
.contentHeader2{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 22px;
}
.content{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}