@media (max-width: 1024px) and (min-width:768px){
    .component3{
        height: 1146px;
        width: 100%;
        background-color: white;
        align-items: center;
        display: flex;
    }
    .content{
        height: 1011.76px;
        width: 94%;
    }
    .contentAbout{
        display: none;
    }
    .contentAbout21{
        display: flex;
        flex-direction: column;
        // padding-bottom: 10px;
        box-sizing: border-box;
        // justify-content: space-between;
    }
    .contentAbout11{
        background-size: cover;
        background-position: center;
        background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/64776b102182541.Y3JvcCw3ODIsNjExLDQ5OSww.jpg);
        width: 93vw;
        background-color: black;
        height: 421px;
        margin-top: 40px;
        // margin: auto;
    }
    .contentAbout22{
        width: 94vw;
        height: 443.88px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        li{
            list-style: none;
        }
    }
    .comp31head{
        font-size: 25px;
        font-family: 'Raleway';
        font-weight: 600;
        line-height: 50px;
        color: $headerGrey;
        word-spacing: -2px;
        margin-top: 5px;
        border-bottom: 1px solid #ECF0F1;
    }
    .comp32parag{
        font-size: 13px;
        font-family: 'Open Sans';
        color: $paraghraphGrey;
        line-height: 25px;
    }
    ul li {
        /* padding: 10px 18px; */
        color: $ligrey;
        font-size: 13px;
        font-family: 'Open Sans';
        line-height: 20px;
    }
    ul i{
        color: $green;
        margin-right: 20px;
        margin-top: 5px;
    }
    .li1{
        display: flex;
        margin: 0px 0px 25px  0px;
        width: 78%;
    }
    .butRead1{
        background-color: $green;
        color: $white;
        // margin-top: 40px;
        font-family: 'Raleway';
        float: left;
        font-weight: bold;
        font-size: 13px;
        width: 140px;
        border: 0px;
        height: 40px;
    }
    .contentAbout211{
        display: none;
    }
    .contentAbout221{
        display: none;
    }
    .comp311head{
        display: none;
    }
    .comp321parag{
        display: none;
    }
    .comp31list{
        display: none;
    }
}
