@media (max-width: 767px){
    .component7{
        height: 312px;
    }
    .footer{
        height: 225px;
    }
    .logo img {
        width: 25px;
    }
    .logo p {
        font-size: 31px;
    }
    
}