.component2{
    width: 100%;
    background-color: $lightBackground;
    color: $white;
    background-image: url(../../../images/component2/a0a3b5105448705.5f9ef9a33552d.jpg);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    
}

.caption{
    width: 714;
    height: 276px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caption1{
    font-family: 'Raleway';
    text-align: center;
    word-spacing: 10px;
}
.caption2{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    word-spacing: -5px;
}
.caption31,.caption32{
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
}
.butRead{
    padding: 3px 3px;
    background-color: $green;
    color: $white;
    margin-top: 40px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 13px;
}
.butBorder{
    border: white 3px solid;
    text-align: center;
}
