@media (max-width: 767px){
    .component5{
        height: 802.74px;
        
    }
    .content3{
        width: 87%;
        height: 770.08px;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%);
    }
    .component5body3{
        display: grid;
        grid-template: repeat(4, 1fr)/repeat(1fr);
        grid-gap: 7px;
        width: 100%;
        height: 674px;
        div:hover > .facebook{
            display: block;
        }
        div:hover > .instagram{
            display: block;
        }
        div:hover > .twitter{
            display: block;
        }
        // margin: auto;
    }
    .component5body{
        display: none;
    }
    .component5body2{
        display: none;
    }
    .gridbottom{
        padding-top: 15px;
        height: 54px;
        display: none;
        .gridbottom1{
            
            font-size: 14px;
            
        }
        .gridbottom2{
            font-size: 11px;
            margin-top:3px;
        }
    }
    .facebook {
        transform: translate(-150%,-50%);
    }
     .twitter{
        transform: translate(-50%,-50%);
    }
    .instagram{
        transform: translate(50%,-50%);
    }
    .facebook,.twitter,.instagram{
        border: 1px $green solid;
        background-color: transparent;
        position: absolute;
        width: 26px;
        height: 26px;
        border-radius: 26px;
        color: white;
        top: 36%;
        margin-left: 10px;
        left: 48%;
        display: none;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .contentHeader12{
        font-size: 27px;
    }
    .facebook:hover, .twitter:hover, .instagram:hover{
        background-color: $green;
    }
}