@import 'palette';
@import 'reset.scss';
@import 'base.scss';
@import 'components/component1/index.scss';
@import 'components/component2/index.scss';
@import 'components/component3/index.scss';
@import 'components/component4/index.scss';
// @import 'components/component1/index.scss';
// @import 'components/component1/index.scss';
// @import 'components/component1/index.scss';
