$darkBackground:#0E0E0E;
$lightBackground:#282828;
$white:#FFFFFF;
$green:#3AB6B2;
$paraghraphGrey:#6A6A6A;
$headerGrey:#323232;
$icoBack:#3B3B3B;
$ligrey: #525252;
$lighterBackground:#1E1E1E;
$blackish:#111111;
$footerIco:#252525;
$footerIcoHov:#46629E;